#loginPage
{
  background: linear-gradient(to bottom, #0000FF, #54BCBD)

}

.sr-only{
  display: none;
}

.react-bootstrap-table table {
  table-layout: auto !important;
   text-align: center;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #b71646;
  background-color: #ede9e9;
  color: rgb(58, 56, 56);
  font-weight: bold;
}


/* for print */
@media print {
  @page {
    size: landscape;
  }
  
  body {
    width: 100%;
  }
  
  #no-print {
    display: none;
  }
  /* Additional print-specific styles can go here */
}